@import "../tokens.scss";

.icon---large---13_27-5914 {
  position: relative;
  box-sizing: border-box;
}
.eos-attach-file-filled_27-5909 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_27-5912 {
  top: 7px;
  left: 11px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_27-5913 {
  top: 7px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}
