<!--img style="width: 750px; height: 750px;" class="icon-page-3" loading="lazy" alt="" src="./assets/images/tadiranLogo4.svg"/-->


<html>
<!--button class="btn logo"></button-->
<div style="display: flex; align-items: center;">

    <div class="box">
        <!--div class="circle"></div-->
        <div class="box1">
            <div class="face up "></div>
            <!--<div class="face down"></div>-->
        </div>
        <div class="box2">
            <div class="face back"></div>
            <!--<div class="face front"></div>-->
        </div>
        <div class="box3">
            <div class="face left"></div>
            <!--<div class="face right"></div>-->
        </div>
    </div>

    <div>
    <h1 class="loader">
        <span>T</span>
        <span>A</span>
        <span>D</span>
        <span>I</span>
        <span>R</span>
        <span>A</span>
        <span>N</span>
    </h1>

    <h1 class="loader small">
        <span>simpl</span>
        <span>y  d</span>
        <span>on</span>
        <span>e  r</span>
        <span>ight</span>

    </h1>
</div>
</div>
</html>
