@import "../stories/assets/scss/tokens.scss";
@import "../stories/assets/scss/style.scss";
@import "src/stories/assets/scss/style.scss";



.icon-page-3 {
  width: 1.563rem;
  height: 1.563rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div {
  height: 1rem;
  position: relative;
  letter-spacing: -0.011em;
  font-weight: 500;
  line-height: normal;
  font-family: "Noto Sans Hebrew", sans-serif;
}
.icon-page-3-parent,
.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-page-3-parent {
  justify-content: flex-start;
  gap: $gap-7xs;
}
.menu-section {
  background-color: $darkblue;
  justify-content: center;
  font-size: $menu-text-size;
  font-family: $menu-text;
  color: $white;

  flex-direction: column;
  align-items: center;


  @include small-text-bold-text;

  text-align: center;

  width: 100%;
  height: 1.456rem;
  padding: 2.188rem 1.875rem 2.188rem 1.875rem;
  gap: 0.625rem;
  /*border: 0 0 1px 0;*/
}
