<div class="calls-list-new">
      <section class="callitem">
        <div class="call-item-container">
          <div class="call-item-details">
            <div class="icon-large-17-wrapper">
              <img class="icon-large-17" loading="lazy" alt="" src="stories/assets/icons/icon--large--17.svg" />
            </div>
          </div>
          <div class="call-item-name-container-parent">
            <div class="call-item-name-container">
              <a class="a">שם הלקוח</a>
            </div>
            <img class="icon-channel-1" loading="lazy" alt="" src="stories/assets/icons/icon--channel--1@2x.png" />
          </div>
        </div>
        <div class="call-item-status">
          <div class="call-item-status-label">
            <div class="status-label">
              <a class="a1">פתוח</a>
            </div>
            <div class="call-item-name-container">
              <img class="notification-icon" loading="lazy" alt="" src="stories/assets/icons/notification.svg" />
            </div>
          </div>
          <div class="call-item-message">
            <div class="parent">
              <div class="div">הודעה חדשה שהתקבלה...</div>
              <a class="a2">1 שעה</a>
            </div>
            <div class="notification">
              <div class="notification-child" ></div>
              <a class="empty">1</a>
            </div>
          </div>
        </div>
      </section>
      <section class="callitem">
        <div class="call-item-container">
          <div class="call-item-details">
            <div class="icon-large-17-wrapper">
              <img class="icon-large-17" loading="lazy" alt="" src="stories/assets/icons/icon--large--17.svg" />
            </div>
          </div>
          <div class="call-item-name-container-parent">
            <div class="call-item-name-container">
              <a class="a">שם הלקוח</a>
            </div>
            <img class="icon-channel-3" loading="lazy" alt="" src="stories/assets/icons/icon--channel--3.svg" />
          </div>
        </div>
        <div class="call-item-status">
          <div class="status-label1">
            <b class="b">חדש</b>
          </div>
          <div class="frame-container">
            <div class="group">
              <div class="div">הודעה חדשה שהתקבלה...</div>
              <div class="div2">12 דקות</div>
            </div>
            <div class="notification1">
              <div class="notification-child" ></div>
              <div class="div3">1</div>
            </div>
          </div>
        </div>
      </section>
      <section class="callitem">
        <div class="call-item-container">
          <div class="call-item-details">
            <div class="icon-large-17-wrapper">
              <img class="icon-large-17" loading="lazy" alt="" src="stories/assets/icons/icon--large--17.svg" />
            </div>
          </div>
          <div class="call-item-name-container-parent">
            <div class="call-item-name-container">
              <b class="b1">שם הלקוח</b>
            </div>
            <img class="icon-channel-3" loading="lazy" alt="" src="stories/assets/icons/icon--channel--5.svg" />
          </div>
        </div>
        <div class="call-item-status">
          <div class="status-label1">
            <b class="b">חדש</b>
          </div>
          <div class="frame-container">
            <div class="group">
              <div class="div">הודעה חדשה שהתקבלה...</div>
              <div class="div2">12 דקות</div>
            </div>
            <div class="notification1">
              <div class="notification-child" ></div>
              <div class="div3">1</div>
            </div>
          </div>
        </div>
      </section><call-item1>  </call-item1>
      <section class="callitem3">
        <div class="call-item-container">
          <div class="call-item-details">
            <div class="icon-large-17-wrapper">
              <img class="icon-large-17" loading="lazy" alt="" src="stories/assets/icons/icon--large--17.svg" />
            </div>
          </div>
          <div class="call-item-name-container-parent">
            <div class="call-item-name-container">
              <b class="b1">שם הלקוח</b>
            </div>
            <img class="icon-channel-3" loading="lazy" alt="" src="stories/assets/icons/icon--channel--6.svg" />
          </div>
        </div>
        <div class="call-item-status">
          <div class="status-label3">
            <b class="b4">מתוזמן</b>
          </div>
          <div class="frame-parent5">
            <div class="parent2">
              <div class="div">הודעה אחרונה שנשלחה...</div>
              <div class="div8">12 דקות</div>
            </div>
            <div class="notification3">
              <div class="ellipse-div" ></div>
              <div class="div9">1</div>
            </div>
          </div>
        </div>
      </section>
      <section class="callitem">
        <div class="call-item-container">
          <div class="call-item-details">
            <div class="icon-large-17-wrapper">
              <img class="icon-large-17" loading="lazy" alt="" src="stories/assets/icons/icon--large--17.svg" />
            </div>
          </div>
          <div class="call-item-name-container-parent">
            <div class="call-item-name-container">
              <b class="b1">שם הלקוח</b>
            </div>
            <img class="icon-channel-1" loading="lazy" alt="" src="stories/assets/icons/icon--channel--1@2x.png" />
          </div>
        </div>
        <div class="call-item-status">
          <div class="status-label4">
            <b class="b6">ממתין</b>
          </div>
          <div class="frame-parent5">
            <div class="parent2">
              <div class="div">הודעה אחרונה שנשלחה...</div>
              <div class="div8">12 דקות</div>
            </div>
            <div class="notification3">
              <div class="ellipse-div" ></div>
              <div class="div9">1</div>
            </div>
          </div>
        </div>
      </section>
      <section class="callitem">
        <div class="call-item-container">
          <div class="call-item-details">
            <div class="icon-large-17-wrapper">
              <img class="icon-large-17" loading="lazy" alt="" src="stories/assets/icons/icon--large--17.svg" />
            </div>
          </div>
          <div class="call-item-name-container-parent">
            <div class="call-item-name-container">
              <b class="b1">שם הלקוח</b>
            </div>
            <img class="icon-channel-3" alt="" src="stories/assets/icons/icon--channel--2.svg" />
          </div>
        </div>
        <div class="call-item-status">
          <div class="status-label4">
            <b class="b6">ממתין</b>
          </div>
          <div class="frame-parent5">
            <div class="parent2">
              <div class="div">הודעה אחרונה שנשלחה...</div>
              <div class="div8">12 דקות</div>
            </div>
            <div class="notification3">
              <div class="ellipse-div" ></div>
              <div class="div9">1</div>
            </div>
          </div>
        </div>
      </section>
      <section class="callitem">
        <div class="call-item-container">
          <div class="call-item-details">
            <div class="icon-large-17-wrapper">
              <img class="icon-large-17" loading="lazy" alt="" src="stories/assets/icons/icon--large--17.svg" />
            </div>
          </div>
          <div class="frame-parent13">
            <div class="wrapper3">
              <b class="b9">שם הלקוח</b>
            </div>
            <img class="icon-channel-1" loading="lazy" alt="" src="stories/assets/icons/icon--channel--1@2x.png" />
          </div>
        </div>
        <div class="call-item-status">
          <div class="status-label6">
            <b class="b10">פתוח</b>
          </div>
          <div class="frame-parent5">
            <div class="parent2">
              <div class="div">הודעה אחרונה שנשלחה...</div>
              <div class="div17">12 דקות</div>
            </div>
            <div class="notification3">
              <div class="ellipse-div" ></div>
              <div class="div9">1</div>
            </div>
          </div>
        </div>
      </section>
    </div>