<div class="typingbar-reply_844-127999">
  <div class="frame-550_1063-28862">
    <div class="frame-551_1063-30434">
      <app-button
        [active]="'No'"
        [bold]="'Yes'"
        [icon]="'No'"
        [size]="'Large'"
        [purpose]="'Default'"
        text='שליחה'
        class="button_1063-29899"
      ></app-button>
    </div>
    <div class="frame-549_1063-28348">
      <div class="frame-423_844-127180">
        <div class="frame-139_844-127191">
          <app-button
            [active]="'Yes'"
            [bold]="'No'"
            [icon]="'Yes'"
            [size]="'small'"
            [purpose]="'Default'"
            text="סיכום שיחה"
            [textColor]="'dark-blue-color'"
            class="button_844-127192"
          ></app-button>
          <app-button
            [active]="'Yes'"
            [bold]="'No'"
            [icon]="'Yes'"
            [size]="'small'"
            [purpose]="'Default'"
            text="הוספת הערה"
            class="button_844-127193"
          ></app-button>
        </div>
        <div class="frame-137_844-127181">
          <app-side-menu-icon-large-38
            class="side-menu-icon-large-38_1014-26333"
          ></app-side-menu-icon-large-38>
          <div class="vector-20_844-127183">
            <svg
              width="2"
              height="22"
              viewBox="0 0 2 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.4043 1.03516L1.4043 20.9648"
                stroke="#D9D9D9"
                stroke-linecap="round"
              />
            </svg>
          </div>
          <div class="frame-135_844-127184">
            <app-icon-large-10
              class="icon---large---10_844-127185"
            ></app-icon-large-10>
            <app-icon-large-4
              class="icon---large---4_844-127189"
            ></app-icon-large-4>
            <app-icon-large-7
              class="icon---large---7_844-127186"
            ></app-icon-large-7>
            <app-icon-large-2
              class="icon---large---2_844-127187"
            ></app-icon-large-2>
            <app-icon-large-t-5
              class="icon---large-t--5_844-127190"
            ></app-icon-large-t-5>
          </div>
        </div>
      </div>
      <app-frame-136
        [state]="'Default'"
        [mode]="'Reply'"
        class="frame-136_844-127195"
      ></app-frame-136>
    </div>
  </div>
</div>
