.dropdownswitcher_I3242-63361-125-6073 {
  padding: 0px 3px 3px 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 14px;
  box-sizing: border-box;
  border-color: #000000;
  border-style: solid;
  border-bottom-width: 1px;
  width: 146px;
}
.icon---arrows_I3242-63361-125-6073-125-4884 {
  position: relative;
  width: 13px;
  height: 13px;
}

.selectStatus {
  border: 0px;
  font-size: 12px;
}

.text-------------------2-_I3242-63361-125-6073-125-4885 {
  color: #000000;
  font-size: 12px;
  letter-spacing: -1.1%;
  text-decoration: none;
  text-align: right;
  text-wrap: wrap;
  width: 117px;
  border: 0px;
}
