@import "../tokens.scss";

.icon---small---32_691-21938 {
  position: relative;
  box-sizing: border-box;
}
.group-199_693-24475 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_691-21937 {
  display: flex;
}

.vector-54_691-21939 {
  display: flex;
}
