<div class="root">
  <div class="frame540">
    <span *ngIf="property1 === '1'" class="a">הצעות לפי ׳דור כ׳</span>
    <div class="frame539">
      <div class="frame537">
        <app-button
          [active]="'Yes'"
          [bold]="'No'"
          [icon]="'Yes'"
          [size]="'small'"
          [purpose]="'Default'"
          class="button"
        ></app-button>
        <app-button
          [active]="'Yes'"
          [bold]="'No'"
          [icon]="'Yes'"
          [size]="'small'"
          [purpose]="'Default'"
          class="button"
        ></app-button>
        <span *ngIf="property1 === '1'" class="a">בעל הפניה</span>
        <app-button
          *ngIf="property1 === 'Variant2'"
          [active]="'Yes'"
          [bold]="'No'"
          [icon]="'Yes'"
          [size]="'small'"
          [purpose]="'Default'"
          class="button"
        ></app-button>
        <span *ngIf="property1 === 'Variant2'" class="a">טלפון</span>
      </div>
      <div class="frame538">
        <app-button
          [active]="'Yes'"
          [bold]="'No'"
          [icon]="'Yes'"
          [size]="'small'"
          [purpose]="'Default'"
          class="button"
        ></app-button>
        <span *ngIf="property1 === '1'" class="a">תגיות</span>
        <span *ngIf="property1 === 'Variant2'" class="a">מייל</span>
      </div>
    </div>
    <span *ngIf="property1 === 'Variant2'" class="a054976"
      >הצעות לפי ׳054976׳</span
    >
  </div>
  <div class="vector62">
    <svg
      width="358"
      height="2"
      viewBox="0 0 358 2"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M357.523 0.950195H0.523438" stroke="#DFF0FF" />
    </svg>
  </div>
  <div class="frame542">
    <span class="a">ערוץ פניה</span>
    <div class="frame541">
      <app-button
        [active]="'Yes'"
        [bold]="'No'"
        [icon]="'Yes'"
        [size]="'small'"
        [purpose]="'Default'"
        class="button"
      ></app-button>
      <app-button
        [active]="'Yes'"
        [bold]="'No'"
        [icon]="'Yes'"
        [size]="'small'"
        [purpose]="'Default'"
        class="button"
      ></app-button>
      <app-button
        [active]="'Yes'"
        [bold]="'No'"
        [icon]="'Yes'"
        [size]="'small'"
        [purpose]="'Default'"
        class="button"
      ></app-button>
      <app-button
        [active]="'Yes'"
        [bold]="'No'"
        [icon]="'Yes'"
        [size]="'small'"
        [purpose]="'Default'"
        class="button"
      ></app-button>
      <app-button
        [active]="'Yes'"
        [bold]="'No'"
        [icon]="'Yes'"
        [size]="'small'"
        [purpose]="'Default'"
        class="button"
      ></app-button>
      <app-button
        [active]="'Yes'"
        [bold]="'No'"
        [icon]="'Yes'"
        [size]="'small'"
        [purpose]="'Default'"
        class="button"
      ></app-button>
      <app-button
        [active]="'Yes'"
        [bold]="'No'"
        [icon]="'Yes'"
        [size]="'small'"
        [purpose]="'Default'"
        class="button"
      ></app-button>
    </div>
  </div>
</div>
