@import "../../assets/scss/tokens";

.root {
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 15px;
  box-sizing: border-box;
  border-radius: 20px;
  background: $white-background;
  box-shadow: $new-shadow-box-shadow;
}
.frame540 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 6px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.a {
  display: flex;
  box-sizing: content-box;
  color: $black-color;
  @include small-text-bold-text;
  font-weight: 700;
  text-align: right;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.frame539 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 7px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.frame537 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  gap: 7px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.button {
  padding: 4px 9px 6px 9px;
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: $dark-blue-color;
  border-style: solid;
  border-width: 1px;
  height: 27px;
}

.button {
  padding: 4px 9px 6px 9px;
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: $dark-blue-color;
  border-style: solid;
  border-width: 1px;
  height: 27px;
}

.a {
  display: flex;
  box-sizing: content-box;
  color: $black-color;
  @include small-text-text;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
}

.button {
  padding: 4px 9px 6px 9px;
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: $dark-blue-color;
  border-style: solid;
  border-width: 1px;
  height: 27px;
}

.a {
  display: flex;
  box-sizing: content-box;
  color: $black-color;
  @include small-text-text;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
}

.frame538 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
}
.button {
  padding: 4px 9px 6px 9px;
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: $dark-blue-color;
  border-style: solid;
  border-width: 1px;
  height: 27px;
}

.a {
  display: flex;
  box-sizing: content-box;
  color: $black-color;
  @include small-text-text;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
}

.a {
  display: flex;
  box-sizing: content-box;
  color: $black-color;
  @include small-text-text;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
}

.a054976 {
  display: flex;
  box-sizing: content-box;
  color: $black-color;
  @include small-text-bold-text;
  font-weight: 700;
  text-align: right;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.vector62 {
  display: flex;
  box-sizing: content-box;
}

.frame542 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 10px;
  box-sizing: border-box;
  height: 85px;
  width: -webkit-fill-available;
}
.a {
  display: flex;
  box-sizing: content-box;
  color: $black-color;
  @include small-text-bold-text;
  font-weight: 700;
  text-align: right;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.frame541 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 4px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.button {
  padding: 4px 9px 6px 9px;
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: $dark-blue-color;
  border-style: solid;
  border-width: 1px;
  height: 27px;
}

.button {
  padding: 4px 9px 6px 9px;
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: $dark-blue-color;
  border-style: solid;
  border-width: 1px;
  height: 27px;
}

.button {
  padding: 4px 9px 6px 9px;
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: $dark-blue-color;
  border-style: solid;
  border-width: 1px;
  height: 27px;
}

.button {
  padding: 4px 9px 6px 9px;
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: $dark-blue-color;
  border-style: solid;
  border-width: 1px;
  height: 27px;
}

.button {
  padding: 4px 9px 6px 9px;
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: $dark-blue-color;
  border-style: solid;
  border-width: 1px;
  height: 27px;
}

.button {
  padding: 4px 9px 6px 9px;
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: $dark-blue-color;
  border-style: solid;
  border-width: 1px;
  height: 27px;
}

.button {
  padding: 4px 9px 6px 9px;
  display: flex;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: $dark-blue-color;
  border-style: solid;
  border-width: 1px;
  height: 27px;
}
