@mixin prefix($property, $value) {
    $prefixes: "", "webkit", "moz", "o", "ms";
    @each $prefix in $prefixes {
        @if($prefix!="") {
            #{'-' + $prefix + '-' + $property}: $value;
        }
        @else{
            #{$property}: $value;
        }        
    }
}

@mixin componentsBorder() {
	background: map-get($colors, color1);
    @include prefix(border-radius, 3px);
}

@mixin imagesBorder() {
	background: map-get($colors, color1);
    @include prefix(border-radius, 3px);
    @include prefix(box-shadow, 1px 1px 4px map-get($colors, color10-17));
}

$main-menu-height: 48px;
$side-menu-width: 230px;
$bottom-bar-height: 40px;

.max-height-minus-main-menu {
    height: calc(100% - #{$main-menu-height})
}
.component-with-bottom-bar {
    height: calc(100% - #{$bottom-bar-height});
}
.aeonix-content-container {
    padding: 23px 30px;
    width: calc(100% - #{$side-menu-width});
    float: right;
    min-height: 400px;
}
.aeonix-components-container {
    padding: 10px 20px;    
    @include componentsBorder();
}
.aeonix-images-container {
    padding: 10px;
    @include imagesBorder();
}

.header-section {
    height: 60px;
    padding: 17px 19px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    max-height: calc(100% - #{$main-menu-height});
    overflow-y: auto;
    padding: 17px;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 17px;
}

.inline-label {
    height: 40px;
    line-height: 40px;
    padding-right: 22px;
    &.required-field {
        padding-right: 13px;
        .required-field {
            color: map-get($colors, color2);
        }
    }
}

.inline-input .tn-input{
    height: 40px;
}