@import "~src/app/tokens.scss";

.icon---small---7_96-11416 {
  position: relative;
  box-sizing: border-box;
  display: flex;
}
.vector_96-11405 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}
