@import "~src/app/tokens.scss";

.icon---small---10_418-7404 {
  position: relative;
  box-sizing: border-box;
}
.group-186_420-4844 {
  top: 0px;
  left: 2px;
  position: absolute;
  display: flex;
}
.vector_420-4619 {
  display: flex;
}

.union_420-4731 {
  display: flex;
}
.vector-11_420-4732 {
  display: flex;
}

.vector-19_420-4733 {
  display: flex;
}
