@import "../../assets/scss/tokens";

.icon---large---2_10-3780 {
  position: relative;
  box-sizing: border-box;
}
.eos-text-format-filled_10-3761 {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_10-3762 {
  top: 4px;
  left: 4px;
  position: absolute;
  display: flex;
}
