@import "../tokens.scss";

.icon---page---7_76-8321 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_602-13871 {
  top: 1px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}
