@import "../../assets/scss/tokens";

.icon---small---33_904-39446 {
  position: relative;
  box-sizing: border-box;
}
.group_904-39442 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_904-39443 {
  display: flex;
}

.vector_904-39444 {
  display: flex;
}

.vector_904-39445 {
  display: flex;
}
