.sidecategory1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--darkblue);
  font-family: var(--small-text);
}
