<div class="calls-list-new">
  <section class="callitem">
    <div class="client-info-container">
      <div class="client-icon-background-wrapper">
        <div class="client-icon-background">
          <img class="icon-large-17" loading="lazy" alt="" src="./stories/assets/icons/icon--large--17.svg"/>
        </div>
      </div>
      <div class="client-name-background-parent">
        <div class="client-name-background">
          <a class="a">שם הלקוח</a>
        </div>
        <img class="icon-channel-1" loading="lazy" alt="" src="./stories/assets/icons/icon--channel--1@2x.png"/>
      </div>
    </div>
    <div class="call-status-container">
      <div class="status-label-container">
        <status-label
          [prop]="'פתוח'"
          [propHeight]="'unset'"
          [propWidth]="'unset'"
          [propBackgroundColor]="'#2ec9df'"
          [propAlignSelf]="'unset'"
          [propFlex]="'unset'"
          [propTextDecoration]="'none'"
          [propFontWeight]="'700'"
          [propDisplay]="'inline-block'"
          [propMinWidth]="'29px'">

        </status-label>
        <div class="notification-indicator">
          <img class="notification-icon" loading="lazy" alt="" src="./stories/assets/icons/notification.svg"/>
        </div>
      </div>
      <div class="last-message-container">
        <div class="last-message-content">
          <div class="div">הודעה חדשה שהתקבלה...</div>
          <a class="a1">1 שעה</a>
        </div>
        <notification1 [propTextDecoration]="'none'"> </notification1>
      </div>
    </div>
  </section>
  <call-item
    [iconLarge17]="'./stories/assets/icons/icon--large--17.svg'"
    [iconChannel1]="'./stories/assets/icons/icon--channel--3.svg'"
    [prop1]="'הודעה חדשה שהתקבלה...'"
    [notification]="true"
    [ellipseDiv]="true"
    [div]="true"
    [propBorderTop]="'unset'"
    [propWidth]="'unset'"
    [propFlex]="'unset'"
    [propAlignSelf]="'unset'"
    [propHeight]="'unset'"
    [propDisplay]="'inline-block'"
    [propTextDecoration]="'none'"
    [propFontWeight]="'700'"
    [propMinWidth]="'73px'"
    [propWidth2]="'unset'"
    [propFlex2]="'1'"
    [propColor]="'#43a5ff'"
    [propWidth3]="'unset'"
    [propHeight2]="'unset'"
    [propMinWidth2]="'43px'"
    [propWidth4]="'36.84%'"
    [propHeight3]="'89.47%'"
    [propMinWidth3]="'7px'"
    [prop]="'חדש'"
    [propHeight1]="'unset'"
    [propWidth1]="'unset'"
    [propBackgroundColor]="'#fd5ec3'"
    [propAlignSelf1]="'unset'"
    [propFlex1]="'unset'"
    [propTextDecoration1]="'unset'"
    [propFontWeight1]="'unset'"
    [propDisplay1]="'inline-block'"
    [propMinWidth1]="'25px'">
  </call-item>
  <call-item
    [iconLarge17]="'./stories/assets/icons/icon--large--17.svg'"
    [iconChannel1]="'./stories/assets/icons/icon--channel--5.svg'"
    [prop1]="'הודעה חדשה שהתקבלה...'"
    [notification]="true"
    [ellipseDiv]="true"
    [div]="true"
    [propBorderTop]="'unset'"
    [propWidth]="'unset'"
    [propFlex]="'unset'"
    [propAlignSelf]="'unset'"
    [propHeight]="'unset'"
    [propDisplay]="'inline-block'"
    [propTextDecoration]="'unset'"
    [propFontWeight]="'unset'"
    [propMinWidth]="'73px'"
    [propWidth2]="'unset'"
    [propFlex2]="'1'"
    [propColor]="'#43a5ff'"
    [propWidth3]="'unset'"
    [propHeight2]="'unset'"
    [propMinWidth2]="'43px'"
    [propWidth4]="'36.84%'"
    [propHeight3]="'89.47%'"
    [propMinWidth3]="'7px'"
    [prop]="'חדש'"
    [propHeight1]="'unset'"
    [propWidth1]="'unset'"
    [propBackgroundColor]="'#fd5ec3'"
    [propAlignSelf1]="'unset'"
    [propFlex1]="'unset'"
    [propTextDecoration1]="'unset'"
    [propFontWeight1]="'unset'"
    [propDisplay1]="'inline-block'"
    [propMinWidth1]="'25px'">
  </call-item>
  <section class="callitem1">
    <div class="frame-parent">
      <div class="frame-wrapper">
        <div class="icon-large-17-wrapper">
          <img class="icon-large-171" loading="lazy" alt="" src="./stories/assets/icons/icon--large--17.svg" />
        </div>
      </div>
      <div class="frame-group">
        <div class="wrapper"> <b class="b">שם הלקוח</b> </div>
        <img class="icon-channel-4" loading="lazy" alt="" src="./stories/assets/icons/icon--channel--4.svg" />
      </div>
    </div>
    <div class="status-label-parent">
      <status-label
        [prop]="'פתוח'"
        [propHeight]="'unset'"
        [propWidth]="'unset'"
        [propBackgroundColor]="'#2ec9df'"
        [propAlignSelf]="'unset'"
        [propFlex]="'unset'"
        [propTextDecoration]="'unset'"
        [propFontWeight]="'unset'"
        [propDisplay]="'inline-block'"
        [propMinWidth]="'29px'">
      </status-label>
      <div class="frame-container">
        <div class="frame-div">
          <div class="parent">
            <div class="div1">הודעה אחרונה שנשלחה...</div>
            <div class="div2">12 דקות</div>
          </div>
          <div class="notification">
            <div class="notification-child"></div>
            <div class="div3">1</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <call-item
    [iconLarge17]="'./stories/assets/icons/icon--large--17.svg'"
    [iconChannel1]="'./stories/assets/icons/icon--channel--6.svg'"
    [prop1]="'הודעה אחרונה שנשלחה...'"
    [notification]="false"
    [ellipseDiv]="false"
    [div]="false"
    [propBorderTop]="'1px solid #dff0ff'"
    [propWidth]="'unset'"
    [propFlex]="'unset'"
    [propAlignSelf]="'unset'"
    [propHeight]="'unset'"
    [propDisplay]="'inline-block'"
    [propTextDecoration]="'unset'"
    [propFontWeight]="'unset'"
    [propMinWidth]="'73px'"
    [propWidth2]="'219.6px'"
    [propFlex2]="'unset'"
    [propColor]="'#a4a4a4'"
    [propWidth3]="'unset'"
    [propHeight2]="'unset'"
    [propMinWidth2]="'43px'"
    [propWidth4]="'33.16%'"
    [propHeight3]="'unset'"
    [propMinWidth3]="'unset'"
    [prop]="'מתוזמן'"
    [propHeight1]="'unset'"
    [propWidth1]="'unset'"
    [propBackgroundColor]="'#fac321'"
    [propAlignSelf1]="'unset'"
    [propFlex1]="'unset'"
    [propTextDecoration1]="'unset'"
    [propFontWeight1]="'unset'"
    [propDisplay1]="'inline-block'"
    [propMinWidth1]="'38px'">
  </call-item>
  <call-item
    [iconLarge17]="'./stories/assets/icons/icon--large--17.svg'"
    [iconChannel1]="'./stories/assets/icons/icon--channel--1@2x.png'"
    [prop1]="'הודעה אחרונה שנשלחה...'"
    [notification]="false"
    [ellipseDiv]="false"
    [div]="false"
    [propBorderTop]="'unset'"
    [propWidth]="'unset'"
    [propFlex]="'unset'"
    [propAlignSelf]="'unset'"
    [propHeight]="'unset'"
    [propDisplay]="'inline-block'"
    [propTextDecoration]="'unset'"
    [propFontWeight]="'unset'"
    [propMinWidth]="'73px'"
    [propWidth2]="'219.6px'"
    [propFlex2]="'unset'"
    [propColor]="'#a4a4a4'"
    [propWidth3]="'unset'"
    [propHeight2]="'unset'"
    [propMinWidth2]="'43px'"
    [propWidth4]="'33.16%'"
    [propHeight3]="'unset'"
    [propMinWidth3]="'unset'"
    [prop]="'ממתין'"
    [propHeight1]="'unset'"
    [propWidth1]="'unset'"
    [propBackgroundColor]="'#9963d5'"
    [propAlignSelf1]="'unset'"
    [propFlex1]="'unset'"
    [propTextDecoration1]="'unset'"
    [propFontWeight1]="'unset'"
    [propDisplay1]="'inline-block'"
    [propMinWidth1]="'33px'">
  </call-item>
  <call-item
    [iconLarge17]="'./stories/assets/icons/icon--large--17.svg'"
    [iconChannel1]="'./stories/assets/icons/icon--channel--2.svg'"
    [prop1]="'הודעה אחרונה שנשלחה...'"
    [notification]="false"
    [ellipseDiv]="false"
    [div]="false"
    [propBorderTop]="'unset'"
    [propWidth]="'unset'"
    [propFlex]="'unset'"
    [propAlignSelf]="'unset'"
    [propHeight]="'unset'"
    [propDisplay]="'inline-block'"
    [propTextDecoration]="'unset'"
    [propFontWeight]="'unset'"
    [propMinWidth]="'73px'"
    [propWidth2]="'219.6px'"
    [propFlex2]="'unset'"
    [propColor]="'#a4a4a4'"
    [propWidth3]="'unset'"
    [propHeight2]="'unset'"
    [propMinWidth2]="'43px'"
    [propWidth4]="'33.16%'"
    [propHeight3]="'unset'"
    [propMinWidth3]="'unset'"
    [prop]="'ממתין'"
    [propHeight1]="'unset'"
    [propWidth1]="'unset'"
    [propBackgroundColor]="'#9963d5'"
    [propAlignSelf1]="'unset'"
    [propFlex1]="'unset'"
    [propTextDecoration1]="'unset'"
    [propFontWeight1]="'unset'"
    [propDisplay1]="'inline-block'"
    [propMinWidth1]="'33px'">
  </call-item>
  <call-item
    [iconLarge17]="'./stories/assets/icons/icon--large--17.svg'"
    [iconChannel1]="'./stories/assets/icons/icon--channel--1@2x.png'"
    [prop1]="'הודעה אחרונה שנשלחה...'"
    [notification]="false"
    [ellipseDiv]="false"
    [div]="false"
    [prop]="'פתוח'">
  </call-item>
</div>
