.notification-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid #43a5ff;
  box-sizing: border-box;
}
.div4 {
  position: absolute;
  height: 89.47%;
  width: 36.84%;
  top: 15.26%;
  left: 33.16%;
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 7px;
  z-index: 1;
}
.notification1 {
  height: 19px;
  width: 19px;
  position: relative;
  text-align: center;
  font-size: 12px;
  color: #43a5ff;
  font-family: "Noto Sans Hebrew", sans-serif;
}
