<!--<div style="display: flex; justify-content: flex-end; align-items: center; flex-direction: row; gap: 3px; padding-top: 4px; padding-bottom: 6px; padding-right: 10px; padding-left: 9px; background: #BCBCBC; border-radius: 20px">
    <span style="color: #FFFFFF; font-size: 16px; font-family: Noto Sans Hebrew, ui-serif; text-align: right; font-weight: 700">שליחה</span>
</div>-->
<button id="send-button" class="send-button" type="button"
        [disabled]="this.disabled"
        (click)="onClick.emit($event)"
        [ngClass]="classes"
        [ngStyle]="{ 'background-color': backgroundColor }" >
    {{label}}
</button>
