.icon---channel---1_49-6889 {
  position: relative;
  box-sizing: border-box;
  display: flex;
}
.subtract_49-6881 {
  top: 3px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}
.union_49-6878 {
  display: flex;
}
.rectangle-176_49-6876 {
  display: flex;
}

.vector-34_49-6877 {
  display: flex;
}

.text-sms_49-6880 {
  color: #000000;
  font-size: 9.78196907043457px;
  font-family: Noto Sans Hebrew;
  letter-spacing: -1.1%;
  text-decoration: none;
  font-weight: 900;
  text-align: center;
  width: 23px;
  height: 9px;
}
