<div class="choose_CP">
  <mat-grid-list [cols]="4" rowHeight="5:3.0" style="position:fix;bottom: 0%">
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-form-field class="cp_form_filed">
        <mat-select placeholder="{{'Column' | translate}}" name='column'  [(ngModel)]="cp_idx">
          <mat-option *ngFor="let column of AAC.curOCP;let idx = index;"
           [value]="column.Key" style="font-size:100%;;height:19px;">{{
            column.Desc }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-form-field>
        <input matInput placeholder="{{'Header' | translate}}"  [value]="cp_header" [(ngModel)]="cp_header" required>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-form-field class="cp_form_filed">
        <mat-select placeholder="Alignment" [(ngModel)]="cp_alignment" [(value)]="cp_alignment">
          <mat-option value="Left">{{'Left' | translate}}</mat-option>
          <mat-option value="Right">{{'Right' | translate}}</mat-option>
          <mat-option value="Center">{{'Center' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-form-field class="cp_form_filed">
        <input matInput placeholder="{{'Width' | translate}}" [value]="cp_width" [(ngModel)]="cp_width">
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size: 90%; border: 2px solid rgb(221, 221, 221);">
      <button mat-button (click)="update()">{{'Save' | translate}}</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1" style="font-size: 90%; border: 2px solid rgb(221, 221, 221);">
      <button mat-button (click)="cancel()">{{'Cancel' | translate}}</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!--  -->