.icon-large-12 {
  height: 22.4px;
  width: 22.4px;
  position: relative;
  min-height: 22px;
}
.b11 {
  position: relative;
  letter-spacing: -0.01em;
  display: inline-block;
  min-width: 65px;
}
.parent7,
.sidecategory {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-53xl);
  gap: var(--gap-8xs);
}
.sidecategory {
  flex: 1;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--for-strokes);
  justify-content: space-between;
  padding: var(--padding-4xl-8) var(--padding-11xl) var(--padding-3xl);
  gap: var(--gap-xl);
  text-align: right;
  font-size: var(--menu-text-size);
  color: var(--darkblue);
  font-family: var(--small-text);
}
