.root {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
}
.ellipse5 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
}

.ellipse5_property1DefaultProperty1Block {
  display: flex;
}

.ellipse5_property1Reminder {
  display: flex;
}

.a1 {
  top: 3px;
  left: 6px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
  color: #000000;
  font-weight: 400;
  text-align: center;
  width: 6px;
  height: 12px;
}

.a {
  top: 3px;
  left: 6px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
  color: #000000;
  font-weight: 400;
  text-align: center;
  width: 6px;
  height: 12px;
}

.group199 {
  top: 5px;
  left: 5px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  gap: [object Object]px;
  box-sizing: content-box;
  border-top-left-radius: [object Object]px;
  border-top-right-radius: [object Object]px;
  border-bottom-right-radius: [object Object]px;
  border-bottom-left-radius: [object Object]px;
  border-image-source: #ff0000;
  border-image-slice: 1;
  border-style: solid;
  border-width: [object Object]px;
  width: 10px;
  height: 10px;
}
.vector {
  display: flex;
  box-sizing: content-box;
}

.vector54 {
  display: flex;
  box-sizing: content-box;
}

.group202 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  gap: [object Object]px;
  box-sizing: content-box;
  border-top-left-radius: [object Object]px;
  border-top-right-radius: [object Object]px;
  border-bottom-right-radius: [object Object]px;
  border-bottom-left-radius: [object Object]px;
  border-image-source: #ff0000;
  border-image-slice: 1;
  border-style: solid;
  border-width: [object Object]px;
  width: 15px;
  height: 15px;
}
.vector {
  display: flex;
  box-sizing: content-box;
}

.vector {
  display: flex;
  box-sizing: content-box;
}
