@import "../../assets/scss/tokens";

.root {
  position: relative;
  box-sizing: border-box;
}
.group169 {
  top: 5px;
  left: 5px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  gap: [object Object]px;
  box-sizing: content-box;
  border-top-left-radius: [object Object]px;
  border-top-right-radius: [object Object]px;
  border-bottom-right-radius: [object Object]px;
  border-bottom-left-radius: [object Object]px;
  border-image-source: #ff0000;
  border-image-slice: 1;
  border-style: solid;
  border-width: [object Object]px;
  width: 14px;
  height: 14px;
}
.vector {
  display: flex;
  box-sizing: content-box;
}

.vector_property1LargeRecordingNo {
  display: flex;
}

.vector_property1LargeRecordingYes {
  display: flex;
}

.vector {
  display: flex;
  box-sizing: content-box;
}

.vector_property1LargeRecordingNo {
  display: flex;
}

.vector_property1LargeRecordingYes {
  display: flex;
}
