.side-menu {
  width: 112px;
  box-shadow: var(--newshadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  line-height: normal;
  letter-spacing: normal;
}
