.root {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
}

.root_property1SmallCheckFillColorHover {
  top: 31px;
  left: 38px;
  position: absolute;
  display: flex;
}
.rectangle170 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
}

.rectangle170_property1SmallColorBlackCheckEmptyColorGreenCheckFillColorHover {
  display: flex;
}

.rectangle170_property1SmallCheckFillColorGreen {
  display: flex;
}

.vector38 {
  top: 4px;
  left: 4px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
}

.vector38_property1SmallCheckFillColorBlack {
  display: flex;
}

.vector38_property1SmallCheckFillColorHover {
  display: flex;
}

.vector38_property1SmallCheckFillColorGreen {
  display: flex;
}
