<div class="icon---small---note_I2-4269-844-131374-844-127193-289-5692">
    <app-icon-channel-2
            class="icon---channel---3_I2-4269-844-131374-844-127193-289-5692-1063-31192"
    ></app-icon-channel-2>
    <div class="vector-63_I2-4269-844-131374-844-127193-289-5692-1064-31198">
        <svg
                width="3"
                height="12"
                viewBox="0 0 3 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path
                    d="M1.44922 0.772095L1.44922 11.2049"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
            />
        </svg>
    </div>
    <div class="vector-64_I2-4269-844-131374-844-127193-289-5692-1064-31199">
        <svg
                width="11"
                height="8"
                viewBox="0 0 11 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path
                    d="M0.776367 1.29077L10.1214 6.68613"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
            />
        </svg>
    </div>
    <div class="vector-65_I2-4269-844-131374-844-127193-289-5692-1064-31200">
        <svg
                width="11"
                height="8"
                viewBox="0 0 11 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path
                    d="M0.776367 6.68628L10.1214 1.29093"
                    stroke="white"
                    stroke-width="1.5"
                    stroke-linecap="round"
            />
        </svg>
    </div>
</div>
