.icon---page---6_76-8267 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_76-8161 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}
