@import "../../assets/scss/tokens";

.icon---large---4_10-3782 {
  position: relative;
  box-sizing: border-box;
}
.eos-attach-file-filled_10-3765 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.x---_1088-26440 {
  top: 4px;
  left: 19px;
  position: absolute;
  display: flex;
  display: flex;
}
