@import "~src/app/tokens";

.topbar_1110-46397 {
  position: relative;
  box-sizing: border-box;
  background: $dark-blue-background;
  width: 1728px;
  height: 90px;
  box-shadow: $new-shadow-box-shadow;
}
.telephonetest_I1110-46397-844-29952 {
  top: 13px;
  left: 1253px;
  position: absolute;
  display: flex;
  width: 275px;
  height: 64px;
}

.searchbar_I1110-46397-84-9057 {
  top: 25px;
  left: 365px;
  position: absolute;
  display: flex;
  width: 397px;
  height: 40px;
}

.tadiranlogonobackground-white-2_I1110-46397-84-9058 {
  top: 27px;
  left: 1554px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-172_I1110-46397-83-8945 {
  padding: 0px 30px 0px 30px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  background: #ffffff;
  width: 186px;
  height: 90px;
}
.group-1_I1110-46397-83-8946 {
  width: 102px;
  height: 37px;
}
.generic-logo-1_I1110-46397-83-8947 {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
  width: 102px;
  height: 37px;
}
.generic-logo-1_I1110-46397-83-8948 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.frame-445_I1110-46397-843-82829 {
  padding: 13px 16px 13px 16px;
  top: 13px;
  left: 203px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 25px;
  border-color: $for-strokes-color;
  border-style: solid;
  border-width: 1px;
  height: 63px;
}
.frame-447_I1110-46397-843-82830 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.frame-453_I1110-46397-843-107329 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: 51px;
  height: 38px;
}
.frame-455_I1110-46397-843-114107 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
}
.group-37_I1110-46397-843-113537 {
  display: flex;
}
.ellipse-5_I1110-46397-843-113538 {
  display: flex;
}

.ellipse-4_I1110-46397-843-113539 {
  display: flex;
}

.mask-group_I1110-46397-843-113540 {
  width: 9px;
  height: 6px;
}
.ellipse-5_I1110-46397-843-113541 {
  display: flex;
}

.union_I1110-46397-843-113542 {
  display: flex;
}
.ellipse-1_I1110-46397-843-113543 {
  display: flex;
}

.ellipse-2_I1110-46397-843-113544 {
  display: flex;
}

.ellipse-3_I1110-46397-843-113545 {
  display: flex;
}

.vector-1_I1110-46397-843-113546 {
  display: flex;
}

.union_I1110-46397-843-113547 {
  display: flex;
}
.ellipse-1_I1110-46397-843-113548 {
  display: flex;
}

.ellipse-2_I1110-46397-843-113549 {
  display: flex;
}

.ellipse-3_I1110-46397-843-113550 {
  display: flex;
}

.vector-1_I1110-46397-843-113551 {
  display: flex;
}

.union_I1110-46397-843-113552 {
  display: flex;
}
.ellipse-1_I1110-46397-843-113553 {
  display: flex;
}

.ellipse-2_I1110-46397-843-113554 {
  display: flex;
}

.ellipse-3_I1110-46397-843-113555 {
  display: flex;
}

.vector-1_I1110-46397-843-113556 {
  display: flex;
}

.text-32-_I1110-46397-843-82853 {
  color: $white-color;
  @include menu-text-bold-text;
  font-weight: 700;
  text-align: left;
  text-wrap: nowrap;
}

.text-sunny-cloudy_I1110-46397-843-82852 {
  color: $white-color;
  @include xs-text-text;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.vector-55_I1110-46397-843-89343 {
  display: flex;
}

.frame-452_I1110-46397-843-105038 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2px;
  box-sizing: border-box;
  height: 39px;
}
.text-15-52_I1110-46397-843-105039 {
  color: $white-color;
  @include small-text-bold-text;
  font-weight: 700;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.text-thursday_I1110-46397-843-105040 {
  color: $white-color;
  @include xs-text-text;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.text-11-07-24_I1110-46397-843-105041 {
  color: $white-color;
  @include xs-text-text;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}
