<section class="dropdown-menu">
      <div class="side-category-menu">
        <div class="sidecategory2">
          <div class="sidecategory3">
            <img class="icon-large-121" loading="lazy" alt="" src="stories/assets/icons/icon--large--12.svg" />
            <div class="side-category-content">
              <b class="b12">פרטי הפניה</b>
              <input class="icon-large-36" type="checkbox" />
            </div>
          </div>
        </div><participants [callHistory]="'משתתפים בשיחה'" [participants]="'stories/assets/icons/icon--large--34.svg'" [propMinWidth]="'124px'"> </participants><participants [callHistory]="'היסטוריה'" [participants]="'stories/assets/icons/icon--large--33.svg'"> </participants>
      </div>
    </section>