@import "../../assets/scss/tokens";

.icon---small---12_420-4895 {
  position: relative;
  box-sizing: border-box;
}
.group-186_420-4890 {
  top: 3px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_420-4891 {
  display: flex;
}

.vector_420-7447 {
  top: 5px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_420-7448 {
  top: 3px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_420-7449 {
  top: 2px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}
