<section class="callitem7">
      <div class="frame-parent15">
        <div class="frame-wrapper6">
          <div class="icon-large-17-wrapper5">
            <img class="icon-large-177" loading="lazy" alt="" src="stories/assets/icons/icon--large--17.svg" />
          </div>
        </div>
        <div class="frame-parent16">
          <div class="wrapper4">
            <b class="b13">שם הלקוח</b>
          </div>
          <img class="icon-channel-4" loading="lazy" alt="" src="stories/assets/icons/icon--channel--4.svg" />
        </div>
      </div>
      <div class="status-label-parent4">
        <div class="status-label7">
          <b class="b14">פתוח</b>
        </div>
        <div class="frame-wrapper7">
          <div class="frame-parent17">
            <div class="parent8">
              <div class="div20">הודעה אחרונה שנשלחה...</div>
              <div class="div21">12 דקות</div>
            </div>
            <div class="notification7">
              <div class="notification-child4" ></div>
              <div class="div22">1</div>
            </div>
          </div>
        </div>
      </div>
    </section>