@import "../tokens.scss";

.typebar_10-4065 {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 9.688rem;
  box-sizing: border-box;
  border-radius: 12.5rem;
  //background: #ffffff;
}
.frame-138_10-4131 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0.5rem;
  box-sizing: border-box;
}
.icon---large---11_10-4132 {
  position: relative;
  width: 1.375rem;
  height: 1.375rem;
}

.icon---large---13_10-4165 {
  position: relative;
  width: 1.375rem;
  height: 1.375rem;
}

.icon---large---12_10-4133 {
  position: relative;
  width: 1.375rem;
  height: 1.375rem;
}

.text---------------------ctr-enter-------------_17-3610 {
  color: $dark-gray-color;
  @include menu-text-text;
  font-weight: 500;
  text-align: right;
  text-wrap: nowrap;
  height: 1.375rem;
}
