<section class="tags">
      <div class="parent6">
        <a class="a4"> תגיות</a>
        <img class="icon-large-37" loading="lazy" alt="" src="./stories/assets/icons/icon--large--37.svg" />
      </div>
      <div class="new-request-buttons-parent">
        <div class="new-request-buttons">
          <div class="button1">
            <a class="a5">תגית 3</a>
          </div>
          <div class="button1">
            <a class="a5">תגית 2</a>
          </div>
          <div class="button1">
            <a class="a5">תגית 1</a>
          </div>
          <div class="button4">
            <a class="a8">תגית</a>
          </div>
        </div>
          <add-tag>  </add-tag>
      </div>
</section>
