@import "../../assets/scss/tokens";

.icon---large---17_49-7418 {
  position: relative;
  box-sizing: border-box;
  display: flex;
}
.ellipse-2_49-7413 {
  top: 4px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.ellipse-3_49-7414 {
  top: 10px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.ellipse-4_49-7415 {
  top: 15px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}
