@import "../tokens.scss";

.icon---small---16_464-6213 {
  position: relative;
  box-sizing: border-box;
  display: flex;
}
.vector_464-6212 {
  top: 2px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}
