@import "../tokens.scss";

.icon---large---6_10-4082 {
  position: relative;
  box-sizing: border-box;
}
.eos-mode-comment-outlined_10-4075 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 22px;
  height: 22px;
}

.vector_10-4081 {
  top: 3px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}
