@import "~src/app/tokens.scss";

.icon---small---30_590-14554 {
  position: relative;
  box-sizing: border-box;
}
.group-186_590-14548 {
  top: 3px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}
.vector_590-14549 {
  display: flex;
}
