@import "../../assets/scss/tokens";

.icon---large---11_10-4307 {
  position: relative;
  box-sizing: border-box;
}
.eos-attach-file-filled_10-4299 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_10-4306 {
  top: 13px;
  left: 16px;
  position: absolute;
  display: flex;
  display: flex;
}
