@import "../tokens.scss";

.icon---large---7_10-4089 {
  position: relative;
  box-sizing: border-box;
}
.eos-mode-comment-outlined_10-4087 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 22px;
  height: 22px;
}

.vector_10-4088 {
  top: 3px;
  left: 19px;
  position: absolute;
  display: flex;
  display: flex;
}
