@import "../../assets/scss/tokens";

.icon---large---1_10-3779 {
  position: relative;
  box-sizing: border-box;
}
.eos-emoji-emotions-outlined_10-3769 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 22px;
  height: 22px;
}

.mingcute_1088-26500 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.x---_1088-26501 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}
