@import "../../assets/scss/tokens";

.side-menu-icon-large-38_1014-26245 {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
}
.icon---large---38_1014-26240 {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  width: 18px;
  height: 18px;
}
