.mat-grid-tile {
     align-self: left;
//     //padding: 15px;
//     //border: 1px solid red;
  }
  .telBtnForm {
    padding: 15px;
    color: rgb(22, 21, 21);
    /* needed styles below */
    display: block;
    //height: 400px;
    //float: left ;
    //background: rgba(88, 184, 90, 0.103);
    background-size: cover;
    width: 400px;
    font-size: 100%;
    border: 1px solid #ddd;
    border-radius: 0 0 0 0;

  }  
  .cp_form_filed
  {
    max-height: 50px;
    max-width: 80%;
    font-size: 90%;
  }

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 3px 10px;
  }
