.root {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
}

.root_statusActiveStatusGroupStatusBusyStatusBreakStatusDeactiveStatusCircleStatus {
  width: 13px;
  height: 13px;
}

.root_statusBig {
  width: 18px;
  height: 18px;
}
.group179 {
  display: flex;
  flex-wrap: nowrap;
  gap: [object Object]px;
  box-sizing: content-box;
  border-top-left-radius: [object Object]px;
  border-top-right-radius: [object Object]px;
  border-bottom-right-radius: [object Object]px;
  border-bottom-left-radius: [object Object]px;
  border-image-source: #ff0000;
  border-image-slice: 1;
  border-style: solid;
  border-width: [object Object]px;
}
.user2Ldpi1 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 11px;
  height: 13px;
}
.layer12 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  gap: [object Object]px;
  box-sizing: content-box;
  border-top-left-radius: [object Object]px;
  border-top-right-radius: [object Object]px;
  border-bottom-right-radius: [object Object]px;
  border-bottom-left-radius: [object Object]px;
  border-image-source: #ff0000;
  border-image-slice: 1;
  border-style: solid;
  border-width: [object Object]px;
  width: 11px;
  height: 13px;
}
.group {
  display: flex;
  flex-wrap: nowrap;
  gap: [object Object]px;
  box-sizing: content-box;
  border-top-left-radius: [object Object]px;
  border-top-right-radius: [object Object]px;
  border-bottom-right-radius: [object Object]px;
  border-bottom-left-radius: [object Object]px;
  border-image-source: #ff0000;
  border-image-slice: 1;
  border-style: solid;
  border-width: [object Object]px;
  width: 11px;
  height: 13px;
}
.vector {
  display: flex;
  box-sizing: content-box;
}

.vector_statusActive {
  display: flex;
}

.vector_statusBusy {
  display: flex;
}

.vector_statusBreak {
  display: flex;
}

.vector_statusDeactive {
  display: flex;
}

.vector {
  display: flex;
  box-sizing: content-box;
}

.vector_statusActive {
  display: flex;
}

.vector_statusBusy {
  display: flex;
}

.vector_statusBreak {
  display: flex;
}

.vector_statusDeactive {
  display: flex;
}

.user2Ldpi1 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 15px;
  height: 18px;
}
.layer12 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  gap: [object Object]px;
  box-sizing: content-box;
  border-top-left-radius: [object Object]px;
  border-top-right-radius: [object Object]px;
  border-bottom-right-radius: [object Object]px;
  border-bottom-left-radius: [object Object]px;
  border-image-source: #ff0000;
  border-image-slice: 1;
  border-style: solid;
  border-width: [object Object]px;
  width: 15px;
  height: 18px;
}
.group {
  display: flex;
  flex-wrap: nowrap;
  gap: [object Object]px;
  box-sizing: content-box;
  border-top-left-radius: [object Object]px;
  border-top-right-radius: [object Object]px;
  border-bottom-right-radius: [object Object]px;
  border-bottom-left-radius: [object Object]px;
  border-image-source: #ff0000;
  border-image-slice: 1;
  border-style: solid;
  border-width: [object Object]px;
  width: 15px;
  height: 18px;
}
.vector {
  display: flex;
  box-sizing: content-box;
}

.vector {
  display: flex;
  box-sizing: content-box;
}

.group {
  top: 0px;
  left: -1px;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  gap: [object Object]px;
  box-sizing: content-box;
  border-top-left-radius: [object Object]px;
  border-top-right-radius: [object Object]px;
  border-bottom-right-radius: [object Object]px;
  border-bottom-left-radius: [object Object]px;
  border-image-source: #ff0000;
  border-image-slice: 1;
  border-style: solid;
  border-width: [object Object]px;
  width: 15px;
  height: 11px;
}
.vector {
  display: flex;
  box-sizing: content-box;
}

.vector {
  display: flex;
  box-sizing: content-box;
}

.vector {
  display: flex;
  box-sizing: content-box;
}

.ellipse33 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: content-box;
}
