@import "../../assets/scss/tokens";

.frame-465_1135-65040 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.calls-list_1135-65041 {
  width: -webkit-fill-available;
}

.side-menu_1135-65042 {
  height: 960px;
}
