.callsfilter_3242-63361 {
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 18px;
    box-sizing: border-box;
    border-radius: 1.25rem 1.25rem 0 0;
    border-color: #c7daeb;
    border-style: solid;
    border-bottom-width: 1px;
    background: #ffffff;
    height: 9.375rem;
    width: -webkit-fill-available;
}
.frame-132_I3242-63361-10-3431 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    height: 26px;
    width: -webkit-fill-available;
}
.frame-184_I3242-63361-96-11144L {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0px;
    box-sizing: border-box;
    width: 162px;
}
.frame-184_I3242-63361-96-11144R {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-end;
    gap: 0px;
    box-sizing: border-box;
    width: 162px;
}
.icon---large---18_I3242-63361-96-10727 {
    position: relative;
    width: 22px;
    height: 22px;
}

.button_I3242-63361-259-5040 {
    height: 27px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: #43a5ff;
    border-style: solid;
    border-width: 1px;
    color: #43a5ff;
}

.text-----------_I3242-63361-10-3323 {
    font-weight: bold;
    text-align: right;
    display: flex;
    box-sizing: content-box;
    color: #43a5ff;
    text-wrap: nowrap;
    font-size: 150%;
}

.frame-193_I3242-63361-125-6200 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    gap: 41px;
    box-sizing: border-box;
    height: 19px;
    width: -webkit-fill-available;
}
.dropdownswitcher_I3242-63361-116-4724 {
    width: 146px;
}

.dropdownswitcher_I3242-63361-125-6073 {
    width: 146px;
}

.frame-190_I3242-63361-141-1456 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    //gap: 15px;
    box-sizing: border-box;
    height: 17px;
    width: -webkit-fill-available;
}
.text-icon_I3242-63361-141-1457 {
    height: 16px;
}

.chooseAll{
    font-size: 12px;
    width: 100px;
    padding-top: 12px;
}

.chooseIcon{
    width: 454px;

}

.sort{
    font-size: 12px;
    width: 160px;
    padding-top: 12px;
}
