<div class="icon---large---30_523-22267">
  <div class="group-181_523-22256">
    <svg
      width="14"
      height="17"

      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="12.4927" cy="1.67725" r="1.08643" fill="black" />
      <circle cx="12.4927" cy="6.22657" r="1.08643" fill="black" />
      <circle cx="12.4927" cy="10.7759" r="1.08643" fill="black" />
      <circle cx="6.94287" cy="1.67725" r="1.08643" fill="black" />
      <circle cx="6.94287" cy="6.22657" r="1.08643" fill="black" />
      <circle cx="6.94287" cy="10.7759" r="1.08643" fill="black" />
      <circle cx="6.94287" cy="15.3252" r="1.08643" fill="black" />
      <circle cx="1.39405" cy="1.67725" r="1.08643" fill="black" />
      <circle cx="1.39405" cy="6.22657" r="1.08643" fill="black" />
      <circle cx="1.39405" cy="10.7759" r="1.08643" fill="black" />
    </svg>
  </div>
</div>
