.frame-460_I1155-71325-843-138254 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0 0 1.25rem 1.25rem;
  background: #ffffff;
  width: -webkit-fill-available;
}
.calls-list-new_I1155-71325-843-138255 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 0px;
  box-sizing: border-box;
  background: #ffffff;
  width: -webkit-fill-available;
}
.callitem_I1155-71325-843-138256 {
  width: -webkit-fill-available;
  border-bottom-width: 1px;
}

.callitem_I1155-71325-843-138257 {
  width: -webkit-fill-available;
  border-bottom-width: 1px;
}

.callitem_I1155-71325-843-138258 {
  width: -webkit-fill-available;
  border-bottom-width: 1px;
}

.callitem_I1155-71325-843-138259 {
  width: -webkit-fill-available;
  border-bottom-width: 1px;
}

.callitem_I1155-71325-843-138260 {
  width: -webkit-fill-available;
  border-bottom-width: 1px;
}

.callitem_I1155-71325-843-138261 {
  width: -webkit-fill-available;
  border-bottom-width: 1px;
}

.callitem_I1155-71325-843-138262 {
  width: -webkit-fill-available;
  border-bottom-width: 1px;
}

.callitem_I1155-71325-843-138263 {
  width: -webkit-fill-available;
  border-bottom-width: 1px;
}
