$primary-font: 'Roboto';
$secondary-font: arial;

@mixin font1($color:false) {		
	font-family: $primary-font, $secondary-font;
	font-weight: bold;
	font-size: 24px;
	@if($color) {
		color: $color;
	}
}

@mixin font2($color:false) {		
	font-family: $primary-font, $secondary-font;
	font-weight: normal;
	font-size: 18px;
	@if($color) {
		color: $color;
	}
}

@mixin font3($color:false) {		
	font-family: $primary-font, $secondary-font;
	font-weight: bold;
	font-size: 16px;
	@if($color) {
		color: $color;
	}
}

@mixin font4($color:false) {		
	font-family: $primary-font, $secondary-font;
	font-weight: normal;
	font-size: 16px;
	@if($color) {
		color: $color;
	}
}

@mixin font5($color:false) {		
	font-family: $primary-font, $secondary-font;
	font-weight: normal;
	font-size: 14px;
	@if($color) {
		color: $color;
	}
}

@mixin font6($color:false) {		
	font-family: $primary-font, $secondary-font;
	font-weight: bold;
	font-size: 14px;
	@if($color) {
		color: $color;
	}
}

@mixin font7($color:false) {		
	font-family: $primary-font, $secondary-font;
	font-weight: bold;
	font-size: 14px;
	@if($color) {
		color: $color;
	}
}

@mixin font8($color:false) {		
	font-family: $primary-font, $secondary-font;
	font-weight: normal;
	font-size: 12px;
	@if($color) {
		color: $color;
	}
}

@mixin font9($color:false) {		
	font-family: $secondary-font;
	font-weight: bold;
	font-size: 14px;
	@if($color) {
		color: $color;
	}
}

@mixin font10($color:false) {		
	font-family: $secondary-font;
	font-weight: normal;
	font-size: 14px;
	@if($color) {
		color: $color;
	}
}

@mixin font11($color:false) {		
	font-family: $secondary-font;
	font-weight: normal;
	font-size: 13px;
	text-decoration: underline;
	@if($color) {
		color: $color;
	}
}

@mixin font12($color:false) {		
	font-family: $secondary-font;
	font-weight: bold;
	font-size: 15px;
	text-decoration: underline;
	@if($color) {
		color: $color;
	}
}

@mixin font13($color:false) {		
	font-family: $secondary-font;
	font-weight: normal;
	font-size: 24px;
	@if($color) {
		color: $color;
	}
}

@mixin normalStyle($fontSize, $color, $uppercase: false){
	font-family: $primary-font, $secondary-font;
	font-weight: normal;
	font-size: ($fontSize*1) + px;
	color: $color;
	@if $uppercase {
		text-transform: uppercase;
	}
}

@mixin boldStyle($fontSize, $color, $uppercase: false){
	font-family: $primary-font, $secondary-font;
	font-weight: bold;
	font-size: ($fontSize*1) + px;
	color: $color;
	@if $uppercase {
		text-transform: uppercase;
	}
}

@mixin italicStyle($fontSize, $color, $uppercase: false){
	font-family: $primary-font, $secondary-font;
	font-weight: normal;
	font-style: italic;
	font-size: ($fontSize*1) + px;
	color: $color;
	@if $uppercase {
		text-transform: uppercase;
	}
}

@mixin boldItalicStyle($fontSize, $color, $uppercase: false){
	font-family: $primary-font, $secondary-font;
	font-weight: bold;
	font-style: italic;
	font-size: ($fontSize*1) + px;
	color: $color;
	@if $uppercase {
		text-transform: uppercase;
	}
}

.font-1 {
	@include font1()
}
.font-2 {
	@include font2()
}
.font-3 {
	@include font3()
}
.font-4 {
	@include font4()
}
.font-5 {
	@include font5()
}
.font-6 {
	@include font6()
}
.font-7 {
	@include font7()
}
.font-8 {
	@include font8()
}
.font-9 {
	@include font9()
}
.font-10 {
	@include font10()
}
.font-11 {
	@include font11()
}
.font-12 {
	@include font12()
}
.font-13 {
	@include font13()
}