.icon---small---5_10-4709 {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
}
.group-132_10-4706 {
  top: 0px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}
.ellipse-54_1014-28094 {
  display: flex;
}

.path6_10-4708 {
  display: flex;
}
