@import "../../assets/scss/tokens";

.icon---large---9_10-4164 {
  position: relative;
  box-sizing: border-box;
}
.eos-mode-comment-outlined_10-4158 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.group-194_529-30681 {
  top: 5px;
  left: 5px;
  position: absolute;
  display: flex;
  width: 13px;
  height: 13px;
}
.vector-49_529-30518 {
  display: flex;
}

.vector-50_529-30561 {
  display: flex;
}
