@import "../../assets/scss/tokens";

.icon---large---30_523-22267 {
  position: relative;
  box-sizing: border-box;
}
.group-181_523-22256 {
  vertical-align: middle;
  display: grid;
  justify-content: center;
}
.ellipse-35_523-22257 {
  display: flex;
}


.ellipse-38_523-22258 {
  display: flex;
}

.ellipse-41_523-22259 {
  display: flex;
}

.ellipse-36_523-22260 {
  display: flex;
}

.ellipse-39_523-22261 {
  display: flex;
}

.ellipse-42_523-22262 {
  display: flex;
}

.ellipse-44_523-22266 {
  display: flex;
}

.ellipse-37_523-22263 {
  display: flex;
}

.ellipse-40_523-22264 {
  display: flex;
}

.ellipse-43_523-22265 {
  display: flex;
}
