@import "../tokens.scss";

.root {
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;
  background: $white-background;
}

.root_wightNormalTypeBotTypePhoneCall {
  padding-top: 30px;
  gap: 20px;
  height: 984px;
}

.root_typeChatWightNormalTypeChatAdminBlock {
  padding-top: 0px;
  gap: 54px;
  height: 1369px;
}

.root_wightNormal {
  width: inherit;
}

.root_wightWideTypeChat {
  width: 902px;
}
.frame176 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.chatBubble {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 15px 0px 15px 15px;
  box-shadow: $messenge-shadow-box-shadow;
}

.chatBubble_typeChat {
  background: $light-blue-background;
}

.chatBubble_wightNormalTypeChatAdminBlock {
  background: #f2f9ff;
}

.frame175 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.a21042024 {
  display: flex;
  box-sizing: content-box;
  color: $dark-blue-color;
  @include small-text-text;
  font-weight: 400;
  text-align: center;
  width: 130px;
  height: 10px;
}

.systemMessenge {
  padding: 20px 30px 20px 30px;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 15px;
  border-color: $for-strokes-color;
  border-style: solid;
  border-width: 1px;
  background: $white-background;
}

.systemMessenge {
  padding: 20px 30px 20px 30px;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 15px;
  border-color: $dark-blue-color;
  border-style: solid;
  border-width: 1px;
  background: $white-background;
}

.frame173 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}

.frame173_typeChat {
  height: 161px;
}
.chatBubble {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 0px 15px 15px 15px;
  background: $for-strokes-background;
  box-shadow: $messenge-shadow-box-shadow;
}

.chatBubble_typeChat {
  width: 338px;
}

.chatBubble_typeBotTypePhoneCall {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 0px 15px 15px 15px;
  box-shadow: $messenge-shadow-box-shadow;
}

.chatBubble_wightNormalTypeBot {
  background: $bot-background;
}

.chatBubble_wightNormalTypePhoneCall {
  background: $for-strokes-background;
}

.frame177 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.chatBubble {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 15px 0px 15px 15px;
  background: #f2f9ff;
  box-shadow: $messenge-shadow-box-shadow;
}

.chatBubble_typeChat {
  width: 336px;
}

.a2 {
  display: flex;
  box-sizing: content-box;
  color: $dark-blue-color;
  @include small-text-text;
  font-weight: 400;
  text-align: center;
  text-wrap: wrap;
  width: 679px;
}

.frame174 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.chatBubble {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 15px 0px 15px 15px;
  background: #f2f9ff;
  width: 336px;
  box-shadow: $messenge-shadow-box-shadow;
}

.frame178_typeChatAdminBlockTypeBot {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.chatBubble {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 15px 0px 15px 15px;
  background: $light-blue-background;
  box-shadow: $messenge-shadow-box-shadow;
}

.chatBubble {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 15px 0px 15px 15px;
  background: $light-blue-background;
  box-shadow: $messenge-shadow-box-shadow;
}

.chatBubble {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 15px 0px 15px 15px;
  background: $light-blue-background;
  box-shadow: $messenge-shadow-box-shadow;
}

.chatBubble {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 0px 15px 15px 15px;
  background: $bot-background;
  box-shadow: $messenge-shadow-box-shadow;
}

.frame179 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.chatBubble {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 0px 15px 15px 15px;
  box-shadow: $messenge-shadow-box-shadow;
}

.chatBubble_wightNormalTypeBot {
  background: $bot-background;
}

.chatBubble_wightNormalTypePhoneCall {
  background: $for-strokes-background;
}

.frame180 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.chatBubble {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 15px 0px 15px 15px;
  background: #f2f9ff;
  box-shadow: $messenge-shadow-box-shadow;
}

.frame181 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.chatBubble {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 0px 15px 15px 15px;
  background: $for-strokes-background;
  box-shadow: $messenge-shadow-box-shadow;
}

.frame182 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 10px;
  box-sizing: border-box;
  width: -webkit-fill-available;
}
.chatBubble {
  padding: 10px 15px 10px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 15px 0px 15px 15px;
  background: #f2f9ff;
  box-shadow: $messenge-shadow-box-shadow;
}

.chatBubble {
  padding: 20px 15px 20px 15px;
  display: flex;
  box-sizing: border-box;
  border-radius: 15px;
  background: $light-yellow-background;
  width: 494px;
  box-shadow: $messenge-shadow-box-shadow;
}
