@import "../../assets/scss/tokens";

.icon---large---10_10-4202 {
  position: relative;
  box-sizing: border-box;
}
.eos-attach-file-filled_10-4194 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.group_10-4196 {
  top: 3px;
  left: 5px;
  position: absolute;
  display: flex;
  width: 12px;
  height: 16px;
}
.vector_10-4198 {
  display: flex;
}

.group-131_10-4203 {
  width: 8px;
  height: 3px;
}
.vector_10-4199 {
  display: flex;
}

.vector_10-4200 {
  display: flex;
}

.vector_10-4201 {
  display: flex;
}
